.title{
    font-family: sans-serif;
    color: #dc2d5e;
    text-align: center;
}
.tabContainer{
    width: 1375px;
    height: 520px;

    padding-left: 50px;
    padding-top: 25px;
    
}
.tabContainer .buttonContainer{
    height: 8%;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;

    border: none;
    outline:none;
    cursor: pointer;
    padding: 1px;
    font-family: sans-serif;
    font-size: 12px;
    background-color: #a9a9a9;
}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}
.tabContainer .tabPanel{
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}

.texto1{
    padding-left: 50px;
    padding-top: 25px;
    font-family: Montserrat-bold;
    font-size: 18px;
    color: black;
}

.container{
    width: 50%;
    height: 450px;
    padding-left: 50px;
    padding-top: 25px;
    
}

.container .buttonContainer1{
    height: 8%;
}
.container .buttonContainer1 button{
    width: 25%;
    height: 100%;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 1px;
    font-family: sans-serif;
    font-size: 12px;
    background-color: #a9a9a9;
}
.container .buttonContainer1 button:hover{
    background-color: #d7d4d4;
}
.container .tabPanel1{
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}


.example_c {
    color: white!important;
    text-transform: uppercase;
    text-decoration: none;
    background: red;
    padding-left: 30px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    }

    .example_c:hover {
        color: #ffffff !important;
        background: #f6b93b;
        border-color: #f6b93b !important;
        transition: all 0.4s ease 0s;
        }
        
.buttonContainer2{
    padding-left: 50px;
}